
 <nav class="navbar navbar-dark bg-dark" style="background-color: #563d7c;">
  <a class="navbar-brand" routerLink="">Angular App</a>
  
  <div class="navbar navbar-dark bg-dark">
  <a class="navbar navbar-dark bg-dark" routerLinkActive="active" routerLink="users" style="color: white;">Student List</a>
  <a class="navbar navbar-dark bg-dark" routerLinkActive="active" routerLink="create-user" style="color: white;">Create Student</a>
  </div>
</nav>
<!-- <app-user-list></app-user-list> -->
<router-outlet />
